/*
  STYLES GAME SCREEN
*/

#game-screen {
  flex-direction: column;
  align-items: stretch;
}

.game--header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 7px;
}
.game--header > .fa-sign-out {
  position: absolute;
  top: 0;
  right: 0;
}

.game--body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation:portrait) {
  #game-screen {
    flex-direction: column;
  }
  .game--header {
    min-height: 50px;
    flex-direction: row;
  }
}

@media (orientation:landscape) {
  #game-screen {
    flex-direction: row;
  }
  .game--header {
    min-width: 50px;
    flex-direction: column;
  }
}