/* 
 * MODAL DIALOG
 */
 
.modal-container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  background: var(--accent-color);
  border-radius: 20px;
  /*overflow: n;*/
  max-width: 75%;
  
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modal--body {
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal--header , 
.modal--footer {
  color: var(--accent-font-color);
  max-width: 100%;
  min-height: 40px;
  border: solid var(--accent-font-lightcolor);
  display: flex;
  margin: 0 6px;
}

.modal--header {
  justify-content: center;
  align-items: center;
  border-width: 0 0 1px 0;
  font-size: 1.5em;
}

.modal--footer {
  margin-top: 10px;
  flex-direction: row;
  justify-content: stretch;
  border-width: 1px 0 0 0;
}

.modal--button {
  padding: 4px 0;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  
  transition: background-color .2s;
  background-color: var(--accent-color);
}
.modal--button:active {
  transition: background-color .2s;
  background-color: var(--accent-lightcolor);
}